body {
  background: rgb(211,211,211);
  font-family: sans-serif;
  text-align: center;
  margin: 7em;
}

.nissanfrontier{
  margin: auto;
}

.mk5, .bestsportyhybrids{
  margin: auto;
  width: 80%;

}

.logo{
  width: 30em;
  padding: 10px;
  max-width: 100%;
  height: auto;
}

.storyofpagani{
  width: 40em;
  margin: auto;
}

.r32 {
    margin: auto;
    display: block;

}




.nissanfrontier, .mk5, .storyofpagani,.r32img, .dodge, .dailycarimg .sportyhybrids{
  border: 3px solid;
   padding: 5px 8px; 
     padding: 0px; 
    border-radius: 20px;
    border-color: black;
    max-width: 100%; 
    height: auto;
}

.r32img, .dodge, .dailycarimg{
  width: 43em;
  max-width: 100%;
  height: auto;
}

p{
  font-size: 1.3em;
}
