body {
  background: rgb(211,211,211);
  font-family: sans-serif;
  text-align: center;
  margin: 7em;
}

.nissanfrontier{
  margin: auto;
}

.mk5{
  margin: auto;
  width: 40em;
}

.logo{
  width: 30em;
}

.storyofpagani{
  width: 40em;
  margin: auto;
}

.r32{
  width: 36em;
  margin: auto;
}
